*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face{

  font-family: 'Raleway';
  
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: normal;
  
  font-style: normal;
  
  }

  @font-face{

    font-family: 'Open Sans';
    
    src: url('../fonts/Open\ Sns/OpenSans-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    
    font-style: normal;
    
    }


  

    .container-header{
      width: 100%;
      height: 75px;
      background-color: black;
  }
  .wrapper-header{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .wrapper-header{
      display: flex;
  }

  .left-header__logo{
      margin-left: 115px;
  }

  .menu-text{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.right-header__menu{
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: right;
  margin-right: 170px;
  
}
ul.header-menu li{
  display: inline;
  margin-left: 55px;
  margin-right: 55px;
}

.menu-text:hover{
  color: #807878;
}



/*Выше был header */
.sec-banner{
  background-image: url(../img/bg_image.png);
  background-size: 100%;
  background-repeat: round;
  max-height: 950px;
}
.zatemnenie{
  width: 100%;
  max-height: 950px;
  background:rgba(0,  0,0, 0.5);
}


.container-banner{
  max-width: 1170px;
  height: 100vw;
  margin-left:auto;
  margin-right: auto;
  
}
.wrapper-banner{
  display: flex;
  padding-top: 210px;
  padding-bottom: 185px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

}

.left-banner{
  margin-left: auto;
  margin-right: auto;
  max-width: 670px;
}

.banner__name{
  margin-top: 70px;
  margin-bottom: 55px;
}

.banner__name>h1{
  font-family:'Raleway', sans-serif ;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

}

.banner__line{
  background-color: #FFFFFF;
  height: 1px;
  width: 170px;
}
.banner__discript{
  margin-top: 42px;
  margin-bottom: 42px;
}
.banner__discript-text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.banner__btn_style{
  width: 270px;
  height: 60px;
  text-align: center;
  color: #FFFFFF;
  background: none;
  border: 2px #FFFFFF solid;

}
.banner__btn_style>span{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-size: 'Open Sans' , sans-serif;
  font-style: normal;
  text-transform: capitalize;
}
.banner__btn_style:hover{
  background: #ffffff46;
  transition: 0.25s linear;
}

.right-banner{
  max-width: 450px;
  height: 470px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 30px;
}

.form_name{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 90px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 45px;  
 
}
.form__name_style{
  color: #333333;
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

}
.form__text_pink{
  color: #EC7979;
}

.form__inpt-lines{
  margin-left: 50px;
  margin-right: 50px;
  max-width: 370px;
}

.form__inpt-line{
  margin-bottom: 30px;
}
.form__inpt-line_style{
  color: #BDBDBD;
  border: none;
  padding-bottom: 15px;

}
.form__line{
  background-color: #BDBDBD;
  width: 370px;
  height: 1px;
}
.form__btn{
  display: flex;
  align-items: center;
  margin-top: 75px;
  max-height: 100%;
  
}
.form__btn_pink{
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  background-color: #EC7979;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  width: 470px;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
}

.form__btn_pink:hover{
  background: #ec797957;
  transition: 0.25s linear;
  color: #807878;
}


.banner__social{
  width: 100%;
  background-color: #F8EFEF;
}
.container__social{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper__social{
  display: flex;
}

.left__social{
  max-width: 470px;
  margin-right: 50px;
}

.social__title{
  margin-top: 2px;
  margin-bottom: 18px;
}

.social__title>h4{
  padding-top: 15px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;

}

.social__discription>h5{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
}

.right__social{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.social__img{
  margin-left: 20px;
  margin-right: 20px;
}
.social__img>img:hover{
  scale: 1.3;
}
.kostil__img:hover{
  scale: 1.3;
}
