*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
@font-face{

  font-family: 'Raleway';
  
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: normal;
  
  font-style: normal;
  
  }

  @font-face{

    font-family: 'Open Sans';
    
    src: url('../fonts/Open\ Sns/OpenSans-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    
    font-style: normal;
    
    }
  





.tabs__container{
    max-width: 1170px;
    max-height: 540px;
    margin:100px auto auto auto;
}
.tabs__list{
    height: 40px;
    width: 100%;
    
}
.list_header-location{ 
    padding-top: 13px;
    width: 100%;
    height: 40px;
}

.nav__list-location{
    display: inline;
    margin-bottom: 10px;
}
.tabs__wrapper{
    display: flex;
    width: 1170px;
    height: 500px;
}
.tab1__left-part{
    width: 570px;
    height: 500px;
    margin-left: 100px;
    margin-right: 30px;
}
.tab1__right-part{
    height: 500px;
    width: 470px;
}
.tab1__tittle > h3{
    font-family: "One sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 27px;
}
.tab1__text-info{
    margin-bottom: 27px;
}

.tab1__text-info > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: "Raleway", sans-serif;
}
.tab1__btn{
  width: 270px;
  height: 58px;
  align-items:center;
  
  background-color: #EC7979;
  border: none;


  font-weight: 600;

}
.tab1__btn:hover{
  background-color: #e29191;  
}
.btn-text{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  line-height: 25px;

}

.tabs__content{
  border: 1px #C6CBCD solid;
}


.nav__item{

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  padding: 10px 82px 10px 82px;


}

.tab__content{
  display: none;
}
.tab__content:target{
  display: block;
} 

.tab__active{
  display: block;
}

.tab__content:before{
  content: "";
	height: 40px;
	width: 200px;
  position: absolute;
  margin-top: -40px;
  margin-left: -1px;
}
.tab__content:nth-child(1):before{
  border-radius: 5px 5px 0 0;
  border-top: 1px #C6CBCD solid;
  border-left: 1px #C6CBCD solid;
  border-right:1px #C6CBCD solid;
  border-bottom:1px #FFFFFF solid;
}
.tab__content:nth-child(2):before{
  margin-left: 201px; 
  border-radius: 5px 5px 0 0;
  border-top: 1px #C6CBCD solid;
  border-left: 1px #C6CBCD solid;
  border-right:1px #C6CBCD solid;
  border-bottom:1px #FFFFFF solid;
}
.tab__content:nth-child(3):before{
  margin-left: 402px; 
  border-radius: 5px 5px 0 0;
  border-top: 1px #C6CBCD solid;
  border-left: 1px #C6CBCD solid;
  border-right: 1px #C6CBCD solid;
  border-bottom:1px #FFFFFF solid;
}

