*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}



@font-face{

    font-family: 'Raleway';
    
    src: url('./fonts/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    
    font-style: normal;
}
  
    @font-face{
  
      font-family: 'Open Sans';
      
      src: url('./fonts/Open\ Sns/OpenSans-VariableFont_wdth,wght.ttf');
      font-weight: normal;
      
      font-style: normal;
      
}
  



.contact{
    background-color: #ffffff;
}

.container__contact{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.contact__title{
    width: 100%;
}
.contact__title h2{
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;

}
.contact__title div{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #EC7979;
}

.contact__title h5{
    margin-top: 50px;
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 35px;
}
.contact__forms{
    display: flex;
    flex-wrap: wrap;
}
.left__form{
    margin-right: auto;
    margin-left: auto;
    max-width: 570px;
}
.left__form div{
    width: 570px;
    border-bottom: 2px solid #BDBDBD;
    padding-top: 50px;
    padding-bottom: 16px;
}
.left__form input{
    border: none;
}
.left__form label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    
}
.right__form{
    margin-left: auto;
    margin-right: auto;
}
.right__form label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
  
.right__form div{
    width: 570px;
    border-bottom: 2px solid #BDBDBD;
    padding-top: 50px;
    padding-bottom: 194px;
}
.right__form input{
    border: none;
}

.contact__btn{
    display: flex;
    margin-top: 50px;
}

.contact__btn input{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: #ffffff;
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
}
.contact__btn input:hover{
    background-color: #ec79797a;
    transition: 0.5s;
    border: 1px solid #86878B;
}