*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}



@font-face{

    font-family: 'Raleway';
    
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    
    font-style: normal;
    
    }
  
    @font-face{
  
      font-family: 'Open Sans';
      
      src: url('../fonts/Open\ Sns/OpenSans-VariableFont_wdth,wght.ttf');
      font-weight: normal;
      
      font-style: normal;
      
      }
  
  

.banner-2{
    background-image: url("./banner-2_backgraund.png");
    background-size: 100%;
    background-repeat: round;
}
.banner-2__shadow{
    width: 100%;
    background:rgba(0,  0,0, 0.5);
}
.container__banner-2{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper__banner-2{
    display: flex;   
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.banner-2__content{
    margin-left: auto;
    margin-right: auto;
}
.banner-2__title{
    padding-top: 50px;      
    
}
.banner-2__title h2{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;  
    color: #FFFFFF;
    padding-bottom: 50px;
}
.banner-2__title div{
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #FFFFFF;    
}
.banner-2__discription{
    margin-top: 40px;
    margin-bottom: 73px;
}
.banner-2__discription h5{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.banner-2__button{
    display: flex;
    align-items: center;

}
.banner-2__button button{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 58px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

}
.banner-2__button button:hover{
    background-color: rgba(167, 173, 173, 0.185);
    transition: 0.5s;
}