section{
    background-color: #FFFFFF;
}
.container{
    background-color: #FFFFFF;
    width: 1170px;
    height: 665px;
    margin: 50px auto 58px auto;
}
h2{

    text-align: center;
    font-size: 36px;
}
hr{
    margin-top: 0px;
    height: 1px;
    color: #EE8989;
    border: none;
    background-color: #EE8989; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
    width: 170px;
}

.wrapper-h2__style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 150px;
}
.wrapper-first-h5_div{
    margin-top: 40px;
    display: flex;
    width: 1170px;
    height: 21px;
}
.wrapper-first-h5__style{
    margin-left: auto;
    margin-right: auto;
    color: #C2C3C5;
    font-size: 18px;
    font-weight: normal;
}

.card{
    display: flex;
    margin-bottom: 58px;
    margin-top: 110px;
}
.first-card{

}
.second-card{

}
.third-card{

}

.first-card_img{
    display: flex;/* Это сочитание 3ёх строк ставит элемент по центру -_-   1*/
    align-items: center;      /*2*/
    justify-content: center;   /*3*/
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EE8989;
    border-radius: 100%;
}
.second-card_img{
    display: flex;  /* Это сочитание 3ёх строк ставит элемент по центру -_-   1*/
    align-items: center;    /*2*/
    justify-content: center;  /*3*/
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EE8989;
    border-radius: 100%;

}
.third-card_img{
    display: flex;  /* Это сочитание 3ёх строк ставит элемент по центру -_-   1*/
    align-items: center;   /*2*/
    justify-content: center;  /*3*/
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EE8989;
    border-radius: 100%;
}
.first-card_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width:369px;
    height: 100px;
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;

}
.second-card_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width:369px;
    height: 100px;
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;

}
.third-card_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width:369px;
    height: 100px;
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;

}
.first-card_text{
    width: 370px;
    height: 105px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;      
}
.second-card_text{
    width: 370px;
    height: 105px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;  
    font-size: 18px;   

}
.third-card_text{
    width: 370px;
    height: 105px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;  
    font-size: 18px;
    

}
h5{
    font-weight: normal;
    margin-left: 30px;
    margin-right: 30px;
}
