*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}


@font-face{

    font-family: 'Raleway';
    
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    
    font-style: normal;
    
    }



section{
    background-color: #FFFFFF;
}
.container{
    background-color: #FFFFFF;
    width: 1170px;
    height: 665px;
    margin: 50px auto 58px auto;
}
h2{

    text-align: center;
    font-size: 36px;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
}
/*hr{
    margin-top: 0px;
    height: 1px;
    color: #EE8989;
    border: none;
    background-color: #EE8989; /* Цвет линии для браузера Firefox и Opera 
    height: 2px;
    width: 170px;
}
*/
.wrapper-awesome__style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 150px;
}
.wrapper-first-header-text_div{
    margin-top: 40px;
    display: flex;
    align-items: center;   
    justify-content: center; 
    width: 1170px;
    height: 21px;
}
.wrapper-first-header-text__style{
    margin-left: auto;
    margin-right: auto;
    color: #C2C3C5;
    font-size: 18px;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
}

.cards{
    display: flex;
    margin-bottom: 58px;
    margin-top: 110px;
}
.all-card_icon__style{
    display: flex;/* Это сочитание 3ёх строк ставит элемент по центру -_-   1*/
    align-items: center;      /*2*/
    justify-content: center;   /*3*/
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EE8989;
    border-radius: 100%;
}
/*.second-card_icon{
    display: flex;  /* Это сочитание 3ёх строк ставит элемент по центру -_-   1
    align-items: center;    /*2
    justify-content: center;  /*3
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EE8989;
    border-radius: 100%;
    
}*/
/*.third-card_icon{
    display: flex;  /* Это сочитание 3ёх строк ставит элемент по центру -_-   1
    align-items: center;   /*2
    justify-content: center;  /*3
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EE8989;
    border-radius: 100%;
}
*/
.all-card_head__style{
    display: flex;
    align-items: center;
    justify-content: center;
    width:369px;
    height: 100px;
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: "One sans", sans-serif;

}
/*
.second-card_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width:369px;
    height: 100px;
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: "One sans", sans-serif;

}
.third-card_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width:369px;
    height: 100px;
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: "One sans", sans-serif;

}
*/
.all-card_text{
    width: 370px;
    height: 105px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;      
}
/*
.second-card_text{
    width: 370px;
    height: 105px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;  
    font-size: 18px;   

}
.third-card_text{
    width: 370px;
    height: 105px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;  
    font-size: 18px;
    

}
*/
h5{
    font-weight: normal;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Raleway", sans-serif;
}

.wrapper-awesome_line{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #EE8989;
    width: 170px;
    margin-top: 0px;
}
