*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}



@font-face{

    font-family: 'Raleway';
    
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    
    font-style: normal;
}
  
    @font-face{
  
      font-family: 'Open Sans';
      
      src: url('../fonts/Open\ Sns/OpenSans-VariableFont_wdth,wght.ttf');
      font-weight: normal;
      
      font-style: normal;
      
}
  

.footer{
    background-color: black;
}
.footer__container{
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}
.footer__links{
    padding-top: 40px;
    margin-bottom: 34px;
}
.footer__links ul{
    display: flex;
    flex-wrap: wrap;

}
.footer__links ul>li{
    margin-left: auto;
    margin-right: auto;
    
}
.footer_img:hover{
    scale: 1.2;
    transition: 0.5s;
}

.footer__text h5{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 27px;

    color: rgba(255, 255, 255, 0.5);
}