

.reviews{
  background-color: #ffffff;
}

.reviews__container{
  max-width: 1170px;
  margin: 69px auto 44px auto;
}

.reviews__title{
  width: 100%;
  margin-bottom: 80px;
}
.reviews__title h2{
  padding-bottom: 55px;
  text-align: center;
  font-family: 'Raleway' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;

}
/* .reviews__title div{
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: #EC7979;
} */

.reviews__title h5{
  margin-top: 38px;
  font-family: 'Raleway' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
  margin-bottom: 35px;
}

.reviews__mes-cards{
    display: flex;
    flex-wrap: wrap;
}
.card__full{
  max-width: 380px;
  margin:0px auto;
  margin-bottom: 20px;
}
.mes-card{
  background-color: #E2E2E2;
  border-radius: 10px;
  position: relative; 
  height: 180px;
  width: 370px;
}
.mes-card__text{ 
  padding-top: 10px;
}
.mes-card__text h5{
  text-align: center;
  font-family: 'Raleway' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  color: #86878B;
  padding-left: 30px;
  padding-right: 30px;
} 


.mes-card__triangle{
  position: absolute;
  margin-left: 20%;
}
#triangle__card{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
  }



.employe-card{
  margin-top: 60px;
  margin-left: 0px;
  margin-right: auto;
  display: flex;
}

.employes-card__discr{
  margin-left: 30px;
}

.employes-card__discr h4{
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;

}

.employes-card__discr p{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 15px;

}