.contact{
    background-color: #ffffff;
}
.wrapper__contact{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 20px;
}

.container__contact{
    max-width: 1170px;
    margin: 0 auto;
}

.contact__title{
    width: 100%;
}
.contact__title h2{
    padding-top: 62px;
    padding-bottom: 48px;
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;

}
/* .contact__title div{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #EC7979;
} */

.contact__title h5{
    margin-top: 50px;
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 35px;
}
.contact__forms{
    display: flex;
    flex-wrap: wrap;
}
.left__form{
    flex: 1;
    margin: 0 auto;
    max-width: 570px;
}
.left__form div{
    width: 100%;
    border-bottom: 2px solid #BDBDBD;
    padding-top: 50px;
    padding-bottom: 16px;
}
.left__form input{
    width: 100%;
    border: none;
}
.left__form input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    
}
.right__form{
    max-width: 570px;
    flex: 1;
    margin: 0 auto 0 30px;
}
.right__form input{
    width: 100%;
    height: 100%;
}


.right__form input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    flex:1;
}
  
.right__form div{
    width: 100%;
    border-bottom: 2px solid #BDBDBD;
    padding-top: 48px;
    padding-bottom: 194px;
}
.right__form input{
    border: none;
}

.contact__btn{
    display: flex;
    margin-top: 50px;
}

.contact__btn button{
    margin: 0 auto;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: #ffffff;
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
}
.contact__btn button:hover{
    background-color: #ec79797a;
    transition: 0.5s;
    border: 1px solid #86878B;
}