.banner-design{
    background-image: url("../img/banner-2_backgraund.png");
    background-size: 100%;
    background-repeat: round;
}
.banner-design__shadow{
    width: 100%;
    background:rgba(0,  0,0, 0.5);
}
.container__banner-design{
    max-width: 1170px;
    margin: 0 auto;
}
.wrapper__banner-design{
    display: flex;   
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.banner-design__content{
    margin: 0 auto;
}
.banner-design__title{
    padding-top: 50px;      
    
}
.banner-design__title h2{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;  
    color: #FFFFFF;
    padding-bottom: 50px;
}
/* .banner-design__title div{
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #FFFFFF;    
} */
.banner-design__discription{
    margin-top: 40px;
    margin-bottom: 73px;
}
.banner-design__discription h5{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.banner-design__button{
    display: flex;
    align-items: center;

}
.banner-design__button button{
    margin: 0 auto;
    width: 370px;
    height: 58px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

}
.banner-design__button button:hover{
    background-color: rgba(167, 173, 173, 0.185);
    transition: 0.5s;
}