*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face{

  font-family: 'Raleway';
  
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: normal;
  
  font-style: normal;
  
  }

  @font-face{

    font-family: 'Open Sans';
    
    src: url('../fonts/Open\ Sns/OpenSans-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    
    font-style: normal;
    
    }




.banner{
  background-image: url(../img/bg_image.png);
  background-size: 100%;
  background-repeat: round;
  max-height: 950px;
}
.bg-shadow{
  width: 100%;
  max-height: 950px;
  background:rgba(0,  0,0, 0.5);
}


.container-banner{
  max-width: 1170px;
  height: 100vw;
  margin: 0 auto;
  
}
.wrapper-banner{
  display: flex;
  padding-top: 163px;
  padding-bottom: 185px;
  margin: 0 10px;
  justify-content: center;
  align-items: center;

}

.left-banner{
  margin: 0 auto;
  max-width: 670px;
  padding-top: 47px;
}

.banner__name{
  margin-top: 50px;
  margin-bottom: 55px;
}

.banner__name>h1{
  font-family:'Raleway', sans-serif ;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

}

.banner__line{
  background-color: #FFFFFF;
  height: 1px;
  width: 170px;
}
.pink-line{
  display: flex;
  margin: 0 auto;
  background-color: #EC7979;
  margin-top: 0px;
}
.white-centre{
  margin: 0 auto;
}
.banner__discript{
  margin-top: 20px;
  margin-bottom: 42px;
}
.banner__discript-text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  white-space: pre-line;
}

.banner__btn_style{
  width: 270px;
  height: 60px;
  text-align: center;
  color: #FFFFFF;
  background: none;
  border: 2px #FFFFFF solid;

}
.banner__btn_style{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-size: 'Open Sans' , sans-serif;
  font-style: normal;
  text-transform: capitalize;
}
.banner__btn_style:hover{
  background: #ffffff46;
  transition: 0.25s linear;
}

.right-banner{
  margin-top: -44px;
  max-width: 550px;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 30px;
}

.form_name{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 90px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 45px;  
 
}
.form__name_style{
  color: #333333;
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

}
.form__text_pink{
  color: #EC7979;
}

.form__inpt-lines{
  margin-left: 50px;
  margin-right: 50px;
  max-width: 370px;
}

.form__inpt-line{
  margin-bottom: 30px;
}
.form__inpt-line_style{
  color: #BDBDBD;
  border: none;
  padding-bottom: 15px;

}
.form__line{
  background-color: #BDBDBD;
  width: 370px;
  height: 1px;
}
.form__btn{
  display: flex;
  align-items: center;
  margin-top: 75px;
  max-height: 100%;
  
}
.form__btn_pink{
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  background-color: #EC7979;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  width: 470px;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
}

.form__btn_pink:hover{
  background: #ec797957;
  transition: 0.25s linear;
  color: #807878;
}

@media screen and (max-width: 1024px){
  .banner{
    background-image: url(../img/bg_image.png);
    background-size: 100%;
    background-repeat: round;
    max-height: 698px;
  }
  .bg-shadow{
    width: 100%;
    max-height: 698px;
    background:rgba(0,  0,0, 0.5);
  }
  .wrapper-banner{
    display: flex;
    padding-top: 95px;
    padding-bottom: 195px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
  
  }
  .banner__logo{
    width: 185px;
    height: 74px;
  }
  .left-banner{
    margin: -28px auto 0 105px;
    max-width: 455px;
    padding-top: 47px;
  }
  .banner__name{
    margin-top: 39px;
    margin-bottom: 40px;
  }
  .banner__name>h1{
    font-family:'Raleway', sans-serif ;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
  }
  .banner__line{
    background-color: #FFFFFF;
    height: 1px;
    width: 115px;
  }
  .banner__discript{
    margin-top: 15px;
    margin-bottom: 31px;
  }
  .banner__discript-text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    white-space: pre-line;
  }
  .banner__btn_style{
    width: 183px;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border: 2px #FFFFFF solid;
  
  }
  .right-banner{
    margin-top: 46px;
    max-width: 400px;
    flex: 1;
    margin-right: 10px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 30px;
  }
  .form__name_style{
    color: #333333;
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  
  }
  .form_name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    font-weight: bold;
    margin-left: 43px;
    margin-right: 50px;
    margin-bottom: 45px;  
   
  }
  .form__inpt-lines{
    margin-left: 50px;
    margin-right: 50px;
    max-width: 370px;
  }
  
  .form__inpt-line{
    margin-bottom: 30px;
  }
  .form__inpt-line_style{
    color: #BDBDBD;
    border: none;
    padding-bottom: 15px;
  
  }
  .form__line{
    background-color: #BDBDBD;
    width: 298px;
    height: 1px;
  }
  .form__btn{
    display: flex;
    align-items: center;
    margin-top: 55px;
    max-height: 100%;
    
  }
  .form__btn_pink{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    width: 470px;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
  }
  
  
}
